* {
  padding: 0;
  margin: 0;
}
body {
  width: 100%;
  min-width: 100%;
  background-image: url("images/battleship.jpg");
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.8);
  background-blend-mode: lighten;
  min-height: 100vh;
  position: relative;
}
.errorMsg {
  color: red;
  background-color: pink;
  border-radius: 5px;
  position: absolute;
  left: 0px;
}
input {
  width: 16em;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  border: none;
}
.error {
  border: 2px solid red;
  background-color: pink;
}
*:disabled {
  background-color: dimgrey;
  color: linen;
  opacity: 1;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 2em;
  height: 4em;
}
form,
.sunkenShips,
.placeShips {
  backdrop-filter: blur(1px);
  background-color: color-mix(in srgb, white, transparent 40%);
  border-radius: 5px;
  padding: 0.3em;
}
.mainContainer {
  display: flex;
  padding: 4em;
}
.container {
  /* display: flex;
  gap: 2em;
  width: 83.3%;
  min-width: 83.3%; */
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 800px;
}
.board {
  display: grid;
  grid-template-columns: repeat(10, 30px);
  grid-template-rows: repeat(10, 30px);
  gap: 5px;
  margin: 20px;
}
.cell {
  width: 30px;
  height: 30px;
  background-color: #87cefa;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  border-radius: 3px;
}
.cell[title="Cruiser"] {
  background-color: #ff6347;
}

.cell[title="Destroyer"] {
  background-color: #ffa500;
}

.cell[title="Battleship"] {
  background-color: #8b0000;
}

.cell[title="Carrier"] {
  background-color: #2e8b57;
}

.cell:empty {
  background-color: #d5e1e9;
}

.enemyBoard .cell {
  cursor: pointer;
}
.enemyBoard .cell:empty {
  background-color: #d5e1e9;
}

.enemyBoard .cell:empty:hover {
  background-color: #00bfff;
}

.enemyBoard .cell:empty:active {
  background-color: #1e90ff;
}
aside {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#title,
#playing {
  font-size: large;
  color: #4caf50;
}
#playing {
  font-size: xx-large;
  font-weight: 900;
  position: absolute;
  left: 40%;
  background-color: color-mix(in srgb, rgb(77, 77, 77), transparent 40%);
  padding: 10px;
  border-radius: 5px;
}
.sunkenShips,
.placeShips {
  min-width: 100%;
  min-height: 10em;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.ship {
  display: flex;
  gap: 5px;
  justify-content: start;
  align-items: center;
}
button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.clicked {
  animation-name: clickedCell;
  animation-duration: 1.3s;
}

@keyframes clickedCell {
  0% {
    transform: rotate3d(1, 1, 1, 0deg);
  }

  100% {
    transform: rotate3d(1, 1, 1, 360deg);
  }
}
.hidden {
  display: none;
  visibility: hidden;
}
#bombshell {
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  display: none;
}

@keyframes bombshell-animation {
  0% {
    transform: translateX(-400px) translateY(0);
    opacity: 1;
  }
  20% {
    transform: translateX(-320px) translateY(-120px);
    opacity: 1;
  }
  40% {
    transform: translateX(-240px) translateY(-180px);
    opacity: 1;
  }
  60% {
    transform: translateX(-160px) translateY(-160px);
    opacity: 1;
  }
  80% {
    transform: translateX(-80px) translateY(-80px);
    opacity: 1;
  }
  100% {
    transform: translateX(0) translateY(0);
    opacity: 1;
  }
}

.animate-bombshell {
  animation: bombshell-animation 1s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    forwards;
}
.gameEnd {
  filter: blur(10px);
  pointer-events: none;
}
.gameRestart {
  color: #4caf50;
  font-weight: 900;
  font-size: 5em;
  position: absolute;
  top: 20%;
  left: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
